<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello user</title>
</head>
<body>
    <h1>Hello User Welcome to Dashboard Section...!</h1>
    <card>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eligendi error cum nam dignissimos laudantium mollitia adipisci totam similique velit quas, blanditiis temporibus, saepe obcaecati voluptates consequatur sunt reiciendis dolorem.</p>
    </card>
</body>
</html>